{% extends 'basic.html' %}

{% block title %} Rungta Jobs {% endblock %}
{% block home %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}   
<div>
    <img class="banner-home" src="{% static 'rungta jobs banner.jpg' %}" alt="rungta jobs banner" width="100%" height="450px">
</div>
    <div class="container-fluid contact-us" style="background-color: #05123F; width: 100%; padding:25px;">
        <div class="row">
            <div class="col-md-4">
                <h3 style="color: aliceblue;">Contact Us</h3>
                <p style="color: aliceblue"><b>Email:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shubhamprasad773@gmail.com</p>
                <p style="color: aliceblue"><b>Mobile:</b>&nbsp;&nbsp;&nbsp;6266419349</p>
            </div>
        </div>
    </div>
    
{% endblock %}
